{% extends 'base.html' %}
{% block body %}
<ul class="nav justify-content-center" style="padding-top: 1em;">
  <li class="nav-item">
    <a class="btn btn-primary" href="{{ url_for('notes_create') }}">Create Note</a>
  </li>
</ul>
{% for note in notes %}
<div class="card my-3">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4 class="card-title">{{ note.title }}</h4>
        </div>
        <div class="col" style="display: flex; justify-content: flex-end;">
          <a class="btn btn-success"  href="{{ url_for('notes_update', title_name=note.title) }}">Edit Note</a>
          <a class="btn btn-danger" style="margin-left: 5px;" href="{{ url_for('notes_delete', title_name=note.title) }}">Delete</a>
        </div>
      </div>
    </div>
    <div class="card-text my-3">
      {{ note.description }}
    </div>
    <div class="card-footer text-muted">
      Tags: 
      {% for t in note.tags %}
        <a href="{{ url_for('tags_view', tag_name=t.name) }}">{{ t.name }}</a>
    {% endfor %}
      <br>
      Last update: {{ note.updated_date }}
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

